{% extends 'base.html' %}

{% block nav %}
    {% include "./nav.html" %}
{% endblock %}

{% block content %}
            
    <h1 class="module-header">
        <i class="fa fa-file-o"></i> Users
    </h1>
    
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Activities</div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur voluptatem quia ab quae, ad excepturi voluptate, laboriosam temporibus nostrum voluptates voluptatum deserunt possimus magni totam id animi neque ut?
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Projects</div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aspernatur voluptatem quia ab quae, ad excepturi voluptate, laboriosam temporibus nostrum voluptates voluptatum deserunt possimus magni totam id animi neque ut?
                </div>
            </div>  
        </div>
    </div>

{% endblock %}